{% extends "menu_bar.html" %}

{% block content %}

<form method="post" action="insert_pet_post">
  {% csrf_token %}
    <fieldset>
      <legend>Disabled fieldset example</legend>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Name</label>
        <input type="text" name="name"  class="form-control" placeholder="Disabled input">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Age</label>
        <input type="number" name="age"  class="form-control" placeholder="Disabled input">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Breed</label>
        <input type="text" name="breed"  class="form-control" placeholder="Disabled input">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
{% endblock %}