{% extends 'main/base.html' %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Editar/Eliminar Cuenta</h2>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form id="editAccountForm" method="post" action="{% url 'edit_client_post' %}">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{ current_user.pk }}">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" name="name" value="{{ current_user.name }}" class="form-control" id="nombre" required>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="tel" name="contact_number" value="{{current_user.contact_number}}" class="form-control" id="telefono" required>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Correo</label>
                    <input type="tel" name="email" value="{{current_user.email}}" class="form-control" id="telefono" required>
                </div>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
            <form action="{% url 'delete_client_post' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{ current_user.pk }}">
                <button type="submit" class="btn btn-danger ms-3">Eliminar Cuenta</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}



